*{
    padding: 0%;
    margin: 0;
}

html, body{
    background-color: #24026e;
    height: 100%;
}

#navbar-bits{
    justify-content: space-between;
    display: flex;
}

#navbarSupportedContent{
    justify-content: flex-end;
}

.wrapper {
    min-height: calc(100% - 6rem);
}